<mat-toolbar class="mx-auto justify-between">
    <!-- mx-auto centers element horizontaal -->
    <a routerLink="home">APESTORE</a>
    <a routerLink="home">BUY SOME SHITTY NFT ANIMALS</a>
    
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <!-- [matMenu...] is een directive waarmee je aanpassingen doet op een DOM element  -->
        <mat-icon 
        [matBadge]="itemsQuantity"
        [matBadgeHidden] = "!itemsQuantity"
        matBadgeColor="warn"      
        >shopping_cart</mat-icon>
    </button>
    <mat-menu #menu="matMenu" class="w-72">
        <!-- #menu is declaratie van menu reference variable voor mat-menu -->
        <!--  matMenu is een instantie van matMenu directive-->
        <!-- menu wordt hier verbonden aan matMenu -->
        <div class="p-3 divide-y divide-solid">
            <!-- divide elements across vertical axis -->
            <div class="pb-3 flex justify-between">
                <span class="mr-4"> {{itemsQuantity}} Items</span>
                <a routerLink="cart">View Cart</a>
            </div>
            <div *ngIf="cart.items.length" class="py-3">
                <div    *ngFor = "let item of cart.items"
                        class="flex justify-between font-light mb-4">
                        {{item.name}} X {{item.quantity}}
                    <span 
                        class="font-bold">{{ item.price | currency: 'EUR' }}</span> 
                    <!-- | is een pipe die data aanpast of vervormt -->
                </div>
                
                
            </div>
            <div class="flex justify-between py-3 font-light">
                Total:
                <span class="font-bold">{{ getTotal(cart.items)| currency: 'EUR'}}</span> 
            </div>
            <div class="pt-3 flex justify-between">
                <button (click)="onClearCart()" class="bg-rose-600 text-white rounded-full w-9 h-9">
                    <mat-icon>remove_shopping_cart</mat-icon>
                </button>
                <button 
                    routerlink="cart"
                    class="bg-green-600 text-white rounded-full w-9 h-9">
                    <mat-icon>shopping_cart</mat-icon>
                </button>
            </div>
        </div>

    </mat-menu>
    
</mat-toolbar>