<mat-expansion-panel *ngIf="categories">
  <!--Als property categories bestaat toon panel-->
  <mat-expansion-panel-header>
    <mat-panel-title> CATEGORIES </mat-panel-title>
  </mat-expansion-panel-header>
  
  <mat-selection-list #categoriesList [(ngModel)]="selectedCategories" (ngModelChange)="onSelectionChange()">
    <mat-list-option *ngFor="let category of categories" [value]="category">
      <!--Je definiert een local variable category en voor ieder element in de verzameling wordt een option aangemaakt-->
      <!--property binding: je bindt de local variable aan de value van mat-list-option -->
      {{ category }}
    </mat-list-option>
  </mat-selection-list>
  
</mat-expansion-panel>





