<mat-expansion-panel *ngIf="categories">
  <!--Als property categories bestaat toon panel-->
  <mat-expansion-panel-header>
    <mat-panel-title> CATEGORIES </mat-panel-title>
  </mat-expansion-panel-header>
  
  <mat-selection-list [multiple]="false">
    <mat-list-option *ngFor="let category of categories" [value]="category">
      <!--Je definiert een local variable category en voor ieder element in de verzameling wordt een option aangemaakt-->
      <!--property binding: je bindt de local variable aan de value van mat-list-option -->
      <button (click)="onShowCategory(category)">{{ category }}</button> 
      <!--hier geef je de locale variable mee als parameter in functie-->
    </mat-list-option>
  </mat-selection-list>
  <button (click)="logToConsole()">Click me!</button>
  {{category}}
</mat-expansion-panel>


